@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    margin:0;
    padding:0
    /* #CB4C4E */
}
/* Navbar */
.navbar img{
    padding:8px 0;
}
.navbar{
    background: #1e272c;
    width: calc(100%-60px);
    padding: 0 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top:0;
}
.scrolled{
    height: 60px;
}
.navbar ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
}
.navbar ul li::after{
    content:" ";
    height: 4px;
    border-radius: 5px;
    width: 0%;
    background: crimson;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 0.5s ease-in-out;
}
.navbar ul li:hover::after{
    width: 100%;
}

/* Setion-1 */
.section-1-head{
    width: 100%;
    height: 70px;
    background: #1e272c;
}
.section-1{
    width: 100%;
    height: 350px;
    background-color: black;
}
.s1-float-l{
    background-image: url(images.jpeg);
    width: 40%;
    height: 350px;
}
.s1-float-r{
    background-color: crimson;
    width: 60%;
    height: 350px;
}
.s1-float-r div{
    width: 70%;
    height: 200px;
}

/* section-2 */
.section-2{
   width:100%;
   height: 600px; 
}
.section-2-div{
    height:400px;
    width:25%;
    margin:20px;
}